* {
  margin: 0;
}

body {
  font-family: system-ui;
}

a:hover {
  color: blue;
}

nav {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;


  & a {
    text-decoration: none;
    color: inherit;
  }

  & ul {
    list-style: none;
  }
}

.title {
  color: blue;
}

main {
  margin: 1rem
}